# ignore image files
images/
images.symlink
images
.jpg
.jpeg
*.tif
*.tiff

.DS_Store
_site/
.sass-cache/
_output/
metadata/issues/

# to not include Github actions in the gh-pages branch
.github/actions/
